body {
  background-color: transparent;
}

.box {
  display: inline-block;
  padding: 2%;
  text-align: center;
  border-top: solid 3px var(--primary-orange);
  border-left: solid 3px var(--primary-orange);
  border-bottom: solid 3px var(--primary-blue);
  border-right: solid 3px var(--primary-blue);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flex-width-set {
  width: 70%;
  margin: 0 auto;
}
